@{
    ViewBag.Title = "Ofertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <div class="container">


        <div><h2 class="titulo" id="titulo-ofertas"><a id="back" href='@Url.Action("Index", "Home")'><img id="atras" src="~/Content/themes/base/images/atras.png" /></a> Últimas ofertas</h2></div>



        <div class="row">
            <p class="titulo-oferta text-center">Papa Noel trae pizza para todos</p>
        </div>
        <div class="row">
            <p class="fecha">Publicada el dia 20-12-2017</p>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    Ya está aqui la mejor y última oferta del año: <span class="titulo-pizza">¡La Pizza Navideña!</span>
                    Recibe una <span class="titulo-pizza">rebaja del 25%</span> en cualquiera de nuestras pizzas predefinidas introduciendo
                    el siguiente código al realizar tu compra: <span class="titulo-pizza">FKRH34I2S</span>. Esta oferta será <span class="titulo-pizza">válida hasta el dia 9 de enero.</span>
                </p>
                <div class="text-center">
                    <img src="~/Content/themes/base/images/pizza-navidad.jpg" class="imagen_oferta rounded" />
                </div>

                <p>
                    Disfruta de las navidades con nosotros haciendo <a href="" class="pedido-link">click aqui para empezar tu pedido</a>. Si surge algún problema, por favor, comunicanoslo a través del apartado "Reportar Incidencia".
                </p>



            </div>
        </div>

        <br />
        <hr />
        <br />

        <div class="row">
            <p class="titulo-oferta text-center">Unas pizzas de muerte</p>
        </div>
        <div class="row">
            <p class="fecha">Publicada el dia 20-10-2017</p>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    Ya está aqui la oferta más aterradora: <span class="titulo-pizza">¡La Pizza de Halloween!</span>
                    Recibe una <span class="titulo-pizza">rebaja del 50%</span> en cualquiera de nuestras pizzas predefinidas introduciendo
                    el siguiente código al realizar tu compra: <span class="titulo-pizza">PVSD33T5G</span>. Esta oferta será <span class="titulo-pizza">válida hasta el dia 30 de Octubre.</span>
                </p>
                <div class="text-center">
                    <img src="~/Content/themes/base/images/pizza-halloween.jpg" class="imagen_oferta rounded" />
                </div>

                <p>
                    Disfruta de las navidades con nosotros haciendo <a href="" class="pedido-link">click aqui para empezar tu pedido</a>. Si surge algún problema, por favor, comunicanoslo a través del apartado "Reportar Incidencia".
                </p>



            </div>
        </div>


    </div>

