@{
    ViewBag.Title = "PoliticaPrivacidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="titulo_seccion">Política Privacidad</h1>
<p>A efectos de lo dispuesto en la normativa vigente en materia de protección de datos de carácter personal, mediante esta Política de Privacidad, E-PIZZA COMPANY, S.L., Sociedad Unipersonal informa a los usuarios (en adelante, el “Usuario” o “Usuarios”) de su sitio Web http://www.epizza.com/ (en adelante, el “Sitio Web”) acerca de su política de protección de los datos de carácter personal recogidos de los Usuarios del Sitio Web, para que éstos determinen libre y voluntariamente si desean facilitar a E-PIIZA COMPANY, S.L., Sociedad Unipersonal los datos personales que se les puedan requerir o que se puedan obtener sobre los mismos con ocasión de su acceso y uso del Sitio Web.

Los únicos datos personales a los que E-PIZZA COMPANY, S.L., Sociedad Unipersonal tendrá acceso a través del Sitio Web serán aquellos que el Usuario facilite voluntariamente, así como aquellos otros recogidos a través de las cookies instaladas.

En cumplimiento de la normativa vigente, E-PIZZA COMPANY, S.L., Sociedad Unipersonal adopta las medidas técnicas y organizativas necesarias para mantener el nivel de seguridad requerido en atención a los datos personales tratados. Asimismo está dotado de los mecanismos precisos a su alcance para evitar en la medida de lo posible accesos no autorizados, sustracciones y modificaciones ilícitas y la pérdida de los datos</p>