@{
    ViewBag.Title = "PreguntasFrecuentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="titulo_seccion">Preguntas Frecuentes</h1>

    <h2>1. ¿Cómo puedo encargar un producto en e-Pizza?</h2>
    <p>Es muy simple, registrate, elige tus productos, selecciona tu dirección y listo , en menos de 30 min tendras tus pedidos en casa , sino te devolvemos tu dinero.</p>

    <h2>2. ¿Por qué e-Pizza en ocasiones no puede entregar a domicilio?</h2>
    <p> Las zonas de reparto están basadas en los códigos postales y tiempo de entrega (queremos asegurarnos de que somos capaces de entregar su mejor pizza bien caliente). Si no puede recibir a domicilio, no se preocupe e-Pizza esta en expansión y pronto cubrirá su zona</p>

    <h2>3.¿Por qué no hay un e-Pizza en mi zona?</h2>
    <p>Estamos continuamente trabajando para abrir nuevas tiendas. Si aún no hay un e-Pizza en su zona, manténgase al corriente en nuestras redes sociales en las que informamos diariamente sobre nuevas zonas de cobertura.</p>

    <h2>4. ¿Cómo puedo contactar con e-Pizza?</h2>
    <p>Puede contactar directamente a  e-Pizza a través del formulario que encontrará en la web</p>
    <h2>5. ¿Qué opciones de pago están disponibles pidiendo a través de la web?</h2>
    <p>Se puede pagar tanto en efectivo cuando le llevemos sus productos o con la tarjeta de crédito</p>