@{
    ViewBag.Title = "QuienesSomos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="titulo_seccion">Quienes Somos</h1>
<p>No hay nada estereotipado en e-Pizza. Ni nuestras pizzas, ni nuestra Gente ni, sin duda, nuestra forma de vivir la vida. Aquí no nos conformamos con nada menos que comida que nos enorgullezca servir. Y no venimos solo a fichar, sino que damos lo mejor de nosotros, hacemos amigos y lo pasamos bien en nuestro trabajo. Somos la empresa de pizza que vive la vida sin moldes.</p>
<p>No somos para la gente que busca acomodarse: romper barreras es parte de nuestra tradición. Tanto si se trata de crear una pizza original con borde de queso como de llevar una a la estratosfera, nos dejamos la piel para servir las innovaciones más deliciosas del sector.</p>
<p>En e-Pizza, no solo hacemos pizza; creamos días para las personas. e-Pizza se fundó con la convicción de que una noche de pizza tenía que ser especial. Esta creencia se ha hecho extensiva a todas nuestras actividades. ¿Cuál es el propósito de Pizza Hut? Crear momentos emocionantes, hechos posibles gracias a nuestro sabor, nuestra innovación y, lo más importante, a base de liberar el potencial de los miembros de nuestros equipos.</p>

<p>En los más de 55 años de experiencia que tenemos a nuestras espaldas, hemos aprendido a servir a nuestros clientes de forma óptima, por medio de principios demostrados. En lugar de seguir las tendencias, las marcamos. Creamos comida de la que estamos orgullosos y la servimos rápidamente, siempre con una sonrisa.</p>

<p>Fuimos los primeros en servir pizza a la Casa Blanca, llevamos la pizza al espacio, fuimos pioneros en las redes sociales, nuestra aplicación de pedidos apareció en un anuncio de iPhone... e-Pizza apuesta por la innovación rompedora.</p>