@{
    ViewBag.Title = "Exito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="titulo-pizza">
    <h2>¡Te has registrado con éxito!</h2>
</div>
<br />
<br />

<a class="MenuButton" href="/Home/Index">Volver al menú</a>
<a class="MenuButton" href="/Account/Login">Iniciar sesión</a>