@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¡Vaya!</h2>
<br />
<br />
<div class="titulo-pizza">
    <h2>Este código no está asociado a ningún tipo de descuento</h2>
</div>
<br />
<br />

<a class="MenuButton" href="/Cesta/Index">Volver a la cesta</a>
